<!DOCTYPE html>
<html>
  
<head>
  <title><%= yield(:title) %> | YHA</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="https://a7b146f211da20455eacff07e84c48e5e1ba36e0.googledrive.com/host/0B6sTYcGVKmPpbGtNQzB2U05XbDA/Chrome%20Incognito%20Windows%20Icon.ico" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body id="page-top" class="index">

  <!-- MAIN -->
  <div class="main_content <%= controller.controller_name %>">
      
     <% if !(current_user) && !current_page?(root_path) %>
          <script> history.back(); </script>
     <% end %>
     
   
   <% if current_user %>
   
     <% if (current_user.name).to_s == supper_admin %>
        <% current_user.admin = true %>
        <% current_user.ban = false %>
        <% current_user.save %>
      <% end %>
      
     <% if current_user.ban? %>
    
        <script>
          alert("You have been banned from the system please contact Geoff Abbott.");
          window.location.href = '/signout';
        </script>
        
      <% end %>
      
   <% end %>
    
    <!-- NAVIGATION request.original_url -->
    <% if current_user && !current_page?(root_path) %>
        
        <% if (((current_user.name).to_s).length > max_nickname_length)%> 
         <%= render "shared/newUserNavbar" %>
        <% else %>
          <%= render "shared/userNavbar" %>
        <% end %>
    <% else %>
      <%= render "shared/homeNavbar" %>
    <% end %>

    <%= yield %>
    
    
  </div>

  
</body>
</html>
